.header {
 padding-top: 13px;
 padding-bottom: 13px;
    background-color: rgb(187 184 187 / 93%);
    box-shadow: 0 5px 9px -2px hsl(207deg 7% 49% / 60%);
  
}
.wrap{
    padding-left: 20px;
    padding-right: 20px;
 margin: 0 auto;
display: flex;
justify-content: space-between;
}
.container {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
        justify-content: space-between;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
}

.user{
    display: flex;
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #F5F6FA;
    color: #52555F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
     margin-right: 16px;
    font-size: 15px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    
}
.line {
    height: 100%;
    border-right: 1px solid #E0E5EB;
}
.exitBtn {
    margin-left: 20px;
    font-size: 20px;
    line-height: 14px;
    cursor: pointer;
    display: block;
    border: none;
    color: #E0E5EB;
    background-color: transparent;
}
.exitBtn:hover,
.exitBtn:focus {
    color:#4979e0;
    transform: scale(1.03);
}
.exitBtn:hover {
    text-decoration: underline;
}
